$gray: #aaa;
$grayfont: #757575;

$sans-serif: arial, helvetica, sans-serif;
$serif: georgia, "times new roman", times, serif;
$roboto-slab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;

body {
  overflow-x: hidden;
}

#outer-wrap {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  padding-left: 0;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;

  &.toggled {
  }

  &.toggled #page-content-wrap {
    position: relative;
  }

  &.toggled #sidebar {
  }

  &.toggled #main {
    pointer-events: none;

  }

  &.toggled .sidebar-menu {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}

#page-content-wrap {
  height: 100%;
  position: relative;

  @include respond-to(phone-screen) { margin-left: 0 }
  @include respond-to(small-screen) { margin-left: 150px }
  @include respond-to(medium-screen) { margin-left: 200px }
  @include respond-to(large-screen) { margin-left: 250px }
}

.container-fluid {
  height: 100%;
  padding-left: 50px;
}

.phone-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: white;

  @include respond-to(small-screen) { visibility: hidden; }
  @include respond-to(medium-screen) { visibility: hidden; }
  @include respond-to(large-screen) { visibility: hidden; }
}

#toggle-sidebar {
  margin: 15px 0 0 15px;
  cursor: pointer;
  background-color: white;
  border: 0;
}
