$gray: #aaa;
$grayfont: #757575;

$sans-serif: arial, helvetica, sans-serif;
$serif: georgia, "times new roman", times, serif;
$roboto-slab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;

body {
  overflow-x: hidden;
}

#outer-wrap {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  padding-left: 0;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;

  &.toggled {
  }

  &.toggled #page-content-wrap {
    position: relative;
    @include respond-to("phone-screen") { margin-left: 100px; }
  }

  &.toggled #sidebar {
    @include respond-to("phone-screen") { width: 100px; margin-left: 0; };
  }

  &.toggled #toggle-sidebar {
    @include respond-to("phone-screen") {  }
  }
  &.toggled .sidebar-menu {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}

#page-content-wrap {
  height: 100%;
  position: relative;

  @include respond-to("phone-screen") { margin-left: 0; margin-top: 0; height: 100vh; }
  @include main-page("small-screen", 100px);
  @include main-page("medium-screen", 150px);
  @include main-page("large-screen", 200px);
}

.menu-header {
  width: 100vw;

  @include respond-to("phone-screen") { padding: 30px 50px 30px 50px; }
  @include menu-header-responsive("small-screen", 100px);
  @include menu-header-responsive("medium-screen", 150px);
  @include menu-header-responsive("large-screen", 200px);
}

.container-fluid {
  height: 100%;
  padding-left: 50px;
}

.phone-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: transparent;

  @include respond-to("small-screen") { visibility: hidden; }
  @include respond-to("medium-screen") { visibility: hidden; }
  @include respond-to("large-screen") { visibility: hidden; }
}

#toggle-sidebar {
  margin: 15px 0 0 15px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

div[class$="headline"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    @include title(45px);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

div[class$="container"] {
  margin-top: 135px;
  width: 100%;
}

div[class$="list-wrapper"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
