.contact-form-page {
  width: 322px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  width: 100%;

  h2 {
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    text-align: left;
  }

  h4 {
    font-size: 13px;
    margin-top: 15px;
    width: 100%;
    text-align: left;
  }
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  fieldset {
    margin-bottom: 15px;
    width: 100%;

    input {
      width: 300px;
      border: 1px solid #aaa;
      padding: 10px;
      color: black;
    }

    input:focus {
      border: 1px solid black;
      outline: 0;
    }

    textarea {
      width: 300px;
      height: 100px;
      padding: 10px;
      font-size: 12px;
      border: 1px solid #aaa;
    }

    textarea:focus {
      border: 1px solid black;
      outline: 0;
    }
  }

  .form-submit {
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: #0cf;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;

    i {
      padding-left: 10px;
      font-weight: 300;
    }
  }
}

.form-name {

}

.form-email {

}

.form-number {

}

.form-message {

}

.form-submit {

}
