.admin-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.admin-auth {
  div:first-child {
    height: 20px;
    margin: 15px 0;
    width: 100%;

    h1 {
      color: white;
      width: 100%;
      font-size: 12px;
      padding: 5px;
      text-align: center;
    }
  }

  .username-wrap {
    height: 37%;
    width: 280px;
  }

  .password-wrap {
    height: 37%;
    width: 280px;
  }

  .submit {
    height: 15%;
    width: 300px;
    cursor: pointer;
    border: none;
    background-color: #0cf;
    color: #fff;
    font-size: 13px;
  }
}

.username-wrap {
  input {
    padding: 10px;
    width: 95%;
    border-bottom: 1px solid #aaa;
    font-family: $roboto;
    font-weight: 200;
    color: white;
  }

  .username-error {
    margin: 5px 0;
    height: 40%;
    color: red;
    font-size: 13px;
    font-weight: 200;
  }
}

.password-wrap {
  input {
    padding: 10px;
    width: 95%;
    border-bottom: 1px solid #aaa;
    font-family: $roboto;
    color: white;
  }

  .password-error {
    height: 40%;
    margin: 5px 0;
    font-size: 13px;
    font-weight: 200;
    color: red;
  }
}
