.about-page {
  position: absolute;
  min-height: 100vh;
  width: 85%;
  left: 15%;
}

.about-page {
  .about-wrap {
    padding: 50px 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.about-wrap {
  .about-title {
    font-family: $roboto;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #aaa;

    h1 {
      font-family: $roboto-slab;
      line-height: normal;
      font-size: 70px;
      text-align: left;
    }

    .about-location {
      font-size: 18px;
      font-family: $roboto;
      font-weight: 400;
      margin-top: 40px;
      margin-left: auto;
    }
  }


  .about-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 65px;
    width: 90%;
  }
}


.about-desc {
  .about-pic {
    width: 40%;

    img {
      width: 80%;
    }
  }

  .about-blurb {
    padding: 20px;
    width: 60%;

    p {
      line-height: 1.5;
      font-family: $roboto;
      font-size: 18px;
      font-weight: 200;
    }
  }
}
