.contact-page {
  margin-top: 50px;
}

.contact-page {
  .contact-wrap {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.contact-wrap {
  .contact-title {
    font-family: $roboto;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #aaa;

    h1 {
      font-family: $roboto-slab;
      line-height: normal;
      font-size: 70px;
      text-align: left;
    }
  }

  .contact-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

.contact-desc {
  .contact-map {
    width: 420px;
    height: 420px;
  }
}
