.global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  z-index: 999;
  color: white;
  background-color: rgba(43,43,43, 0);
}
// background-color: #ff4664;

.header-wrap {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;

  .menu-button {
    text-decoration: none;
    color: black;
    width: 100px;
    position: absolute;
    left: 40px;
  }

  .header-logo {
    height: 30px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
}

.menu-button {
  i {
    margin: 0 auto;
  }
}

.header-logo {
  img {
    background-size: cover;
    background-position: center;
    height: inherit;
    width: 60px;
  }

  h2 {
    font-size: 26px;
    padding-left: 10px;
    color: white;
  }
}
