.location-page {
  position: absolute;
  min-height: 100vh;
  width: 85%;
  left: 15%;
  margin-top: 50px;
}

.location-page {
  .location-wrap {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.location-wrap {
  .location-title {
    font-family: $roboto;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;


    h1 {
      font-family: $roboto-slab;
      line-height: normal;
      font-size: 70px;
      text-align: left;
    }
  }

  .location-desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

}
.location-image {
  width: 1040px;
  height: 200px;
  background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/c_scale,w_1994,y_0/v1490835416/pexels-photo-212088_fdxlxf.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 -50px 30px -30px white;
  border-radius: 4px
}

.location-desc {
  width: 100%;

  img {
    width: 350px;
    height: 350px;
  }

  .location-specifics {
    height: 300px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.location-specifics {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;

    i {

    }

    p {
      text-align: center;
      width: 260px;
      height: 120px;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 100;
      line-height: 1.6;
    }
  }
}

.physical-address:hover {
  content: "";
}

.phone-number:hover {

}

.open-hours:hover {

}
