.location-page {
  margin: 55px auto 10px;
}

.location-page {
  .location-wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.location-title {
  width: 100%;
  padding-bottom: 15px;

  h1 {
    @include title;
  }
}

.location-desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location-image {
  height: 200px;
  background-image: url("https://res.cloudinary.com/dvob94x30/image/upload/v1492617488/depth-of-field-1868723_1920_kyzhlc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 -50px 30px -30px #eeeeee;
  border-radius: 4px;
  width: 100%;

  @include respond-to("phone-screen") {
  };
}

.location-desc {
  width: 100%;

  img {
    width: 350px;
    height: 350px;
  }
}

.location-specifics {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  div {
    margin: 0 auto;
    min-width: 243px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;

    i {

    }

    p {
      text-align: center;
      height: 120px;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 100;
      line-height: 1.6;
    }
  }
}

.physical-address:hover {
  content: "";
}

.phone-number:hover {

}

.open-hours:hover {

}

.location-specifics {

  @include respond-to("phone-screen") {
    flex-direction: column;
    height: inherit;
    min-width: inherit;
    margin: 0 auto;
    margin-top: 50px;
  }
}
