.lunch-menu {
  min-height: 100vh;
  width: 100%;
}

.lunch-menu {
  .lunch-wrap {
    padding: 50px 0 0 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.lunch-wrap {
  .paths {
    height: 30px;

    span {
      color: black;
      cursor: pointer;
      font-size: 15px;
    }
  }

  .lunch-title {
    font-family: $roboto;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;

    h1 {
      font-family: $roboto-slab;
      line-height: normal;
      font-size: 30px;
      text-align: left;
      padding-bottom: 10px;
      border-bottom: 1px solid #aaa;
    }

    .menu-description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  .lunch-menu-list {

  }
}
