// div[class*="container"] {
//   position: absolute;
//   width: 100%;
//   min-height: 100vh;
//   z-index: 10;
// }

div[class*="wrapper"] {
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

div[class*="headline"] {
  font-family: $roboto;
  padding-bottom: 15px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    line-height: normal;
    font-size: 35px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 1.3em;
  }
}

div[class*="list"] {
  // width: 100%;
  // margin-top: 10px;
}
