.menu-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 45px 0 45px 15%;
  z-index: 900;
  background: white;
}

.menu-header {
  .menu-header-wrap {
    vertical-align: center;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.menu-header-wrap {
  div {
    font-family: $roboto;
    font-weight: 300;
    color: #757575;
    font-size: 21px;
  }
}

.menu-header-wrap > div {
  a {
    text-decoration: none;
  }
}

.header-active {
  color: #ec3524;
}

.smaller {
  padding: 8px 0 8px 15%;
  transition: all .5s ease;

  div {

    div {
      font-size: 16px;
      transition: all .5s ease;
    }
  }
}
