.menu-page {
  position: absolute;
  min-height: 100vh;
  width: 85%;
  left: 15%;
}
// background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/c_scale,w_2322/v1478634880/ridi5gxhkuvwsaktivh0.png");
// background-attachment: fixed;
// background-size: cover;
// background-repeat: no-repeat;
// background-position: 0 70%;

.menu-wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1.menu-title {
    font-size: 22px;
    color: #fff;
    line-height: inherit;
    text-align: center;
    height: 50px;
    margin: 100px 0;
    line-height: inherit;
  }

  div.menu-types {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 220px;
    margin: 0 auto;
  }
}

div.menu-types > div {
  border-radius: 3px;
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-transition: background .3s ease-in;
  -moz-transition: background .3s ease-in;
  -ms-transition: background .3s ease-in;
  -o-transition: background .3s ease-in;
  transition: background .3s ease-in;

  h3 {
    color: black;
    padding: 10px;
  }

  .hours {
    display: inline-block;
    position: relative;
    width: 70%;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .hours:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    transition: width .7s cubic-bezier(.165,.84,.44,1), background .7s cubic-bezier(.165,.84,.44,1);
  }

  .hours:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: white;
    transition: width .7s cubic-bezier(.165,.84,.44,1);
  }
}

div.menu-types > div:hover {
  cursor: pointer;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(50, 186, 182, 1); /* Black w/ opacity */

  h3 {
    color: white;
  }

  .hours:before {
    width: 100%;
    background: white;
    transition: width .7s cubic-bezier(.165,.84,.44,1);
  }

  .hours:after {
    width: 100%;
    background: transparent;
    transition: all 0s cubic-bezier(.165,.84,.44,1);
  }

  p {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transition: .7s -webkit-transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
    -moz-transition: .7s -moz-transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
    -ms-transition: .7s -ms-transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
    -o-transition: .7s -ms-transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
    transition: .7s transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
  }
}

.menu-types {
  .lunch-div {
    background-color: #EFC7C2;
  }

  .sunset-div {
    background-color: #BFD3C1;
  }

  .dinner-div {
    background-color: #b1ada9;
  }
}

.hours {
  p {
    text-align: center;
    padding: 5px 0;
    color: white;
    visibility: hidden;
    opacity: 0;
  }

  p:before {
    transform: translate3d(0, 50px, 0);
    transition: transform .7s cubic-bezier(.165,.84,.44,1);
  }
}
