
#menu-splash {
  padding-bottom: 30px;
  padding-top: 50px;
  margin-top: 110px;
  @include respond-to("phone-screen") { margin-top: 50px; };

  div.menu-types {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.menu-title {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  i {
    margin-top: 40px;
    margin-left: auto;
  }

  @include respond-to("phone-screen") {
    flex-direction: column;

    i {
      margin-top: 15px;
      margin-left: 0;
    }
  }

  h1 {
    @include title;
  }
}

div.menu-types > div {
  border-radius: 3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-transition: background .3s ease-in;
  -moz-transition: background .3s ease-in;
  -ms-transition: background .3s ease-in;
  -o-transition: background .3s ease-in;
  transition: background .3s ease-in;

  h3 {
    color: black;
    padding: 10px;
    font-size: 35px;
  }

  .hours {
    display: inline-block;
    position: relative;
    width: 70%;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .hours:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    transition: width .7s cubic-bezier(.165,.84,.44,1), background .7s cubic-bezier(.165,.84,.44,1);
  }

  .hours:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: white;
    transition: width .7s cubic-bezier(.165,.84,.44,1);
  }
}

div.menu-types > div:hover {
  cursor: pointer;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #0cf; /* Black w/ opacity */

  h3 {
    color: white;
  }

  .hours:before {
    width: 100%;
    background: white;
    transition: width .7s cubic-bezier(.165,.84,.44,1);
  }

  .hours:after {
    width: 100%;
    background: transparent;
    transition: all 0s cubic-bezier(.165,.84,.44,1);
  }

  p {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transition: .7s -webkit-transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
    -moz-transition: .7s -moz-transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
    -ms-transition: .7s -ms-transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
    -o-transition: .7s -ms-transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
    transition: .7s transform cubic-bezier(.165,.84,.44,1) .1s,.6s opacity cubic-bezier(.165,.84,.44,1) .1s;
  }
}

.menu-types {
  .sides-div {
    background-color: #383838;
  }

  .lunch-div {
    background-color: #EFC7C2;
  }

  .sunset-div {
    background-color: #BFD3C1;
  }

  .dinner-div {
    background-color: #b1ada9;
  }

  .chef-div {
    background-color: #ba2;
  }
}

.hours {
  p {
    text-align: center;
    padding: 5px 0;
    color: white;
    visibility: hidden;
    opacity: 0;
  }

  p:before {
    transform: translate3d(0, 50px, 0);
    transition: transform .7s cubic-bezier(.165,.84,.44,1);
  }
}
