.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  border: 1px solid black;
}


.menu-item {
  .thumbnail {
    width: inherit;
    height: 150px;
  }

  .item-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.item-contents {
  h4 {
    font-size: 20px;
    font-family: $roboto;
    font-weight: 500;
  }

  .item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
