.press-page {
  position: absolute;
  min-height: 100vh;
  width: 85%;
  left: 15%;
}

.press-page {
  .press-wrap {
    padding: 50px 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.press-wrap {
  .press-title {
    font-family: $roboto;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #aaa;

    h1 {
      font-family: $roboto-slab;
      line-height: normal;
      font-size: 70px;
      text-align: left;
    }
  }

  .press-desc {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 80px;
  }
}


.press-desc > div {
  border-radius: 3px;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
}

.press1 {

}

.press2 {

}

.press3 {

}
