header.sidebar {
  position: fixed;
  top: 0;
  left: auto;
  height: 100%;
  z-index: 999;
  width: 15%;
  right: 85%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #212121;
  padding-bottom: 50px;

  div:last-child {
    margin-top: auto;
  }
}

.sidebar-logo {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $roboto;

  a {
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    line-height: 1.2;

    img {
      width: 40px;
    }
  }

  span:last-child {
    font-size: 16px;
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  font-family: $roboto;
  font-weight: 300;
  font-size: 14px;

  div {
    width: 100%;
    height: 50px;
    color: #aaa;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    border-top: 1px solid #272727;
    position: relative;
  }

  span {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;

    a {
      padding: 1.2em 2em 1em 0;
      text-align: right;
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: inline-block;
      position: relative;
      z-index: 5;
      color: #aaa;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all .15s;
      transition: all .15s;
      box-sizing: border-box;
    }
  }
}

.sidebar-menu > div {
  span:before {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #2a2a2a;
    transition: all 0.3s;
  }

  span:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    transition: all 0.3s cubic-bezier(.165,.84,.44,1);
    opacity: 0.5;
  }
}

.sidebar-menu > div:hover {
  a {
    color: white;
  }

  span:before {
    width: 100%;
    background-color: #2a2a2a;
    transition: width .3s cubic-bezier(.165,.84,.44,1);
  }

  span:after {
    width: 100%;
    background-color: transparent;
    transition: all 0s cubic-bezier(.165,.84,.44,1);
  }
}

.sns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #aaa;
  border-top: 1px solid #272727;
  width: 100%;
  height: 50px;
  position: relative;

  a {
    text-decoration: none;
  }

  a:hover {
    transform: scale(1.1);
    color: white;
  }
}

.sidebar-active {
  border-left: 3px solid #0cf;
  background-color: #272727;
  color: white;
}
