.splash-page {
  z-index: 900;
  height: 100%;
  position: absolute;
  float: right;
  width: 85%;
  left: 15%;
}

.splash-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
}

video#bgvid {
    position: absolute;
    min-height: 1em;
    width: 100%;
    z-index: -100;
}

.splash-page {

}
