.splash-page {
  z-index: 900;
}

.splash-image {
  min-height: 800px;
  background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/v1490557507/pexels-photo-48726_hajuqh.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
}

.splash-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
}
